{% extends "classreg/navbar.html" %}
{% load static %}
{% block nav_block %}
<section class='container'>
<h1 class='text-center fw-bold mt-5'>Images</h1>
<p>Welcome to our Images page! Here, you can explore a collection of images related to our Class Registration Portal. We have curated a selection of images that showcase various aspects of our platform, including screenshots of the user interface, promotional materials, and visual representations of our classes and events. Browse through our gallery to get a visual insight into our offerings and the vibrant community that surrounds our Class Registration Portal. We hope you enjoy exploring the images and find them informative and engaging!</p>
<div class='row'>
    <div class='col-md-3 mb-3'>
        <img src="{% static 'images/classroom.jpg' %}" alt="Classroom" class="img-fluid rounded">
    </div>
    <div class='col-md-3'>
        <img src="{% static 'images/classroom.jpg' %}" alt="Classroom" class="img-fluid rounded">
    </div>
    <div class='col-md-3'>
        <img src="{% static 'images/classroom.jpg' %}" alt="Classroom" class="img-fluid rounded">
    </div>
    <div class='col-md-3'>
        <img src="{% static 'images/classroom.jpg' %}" alt="Classroom" class="img-fluid rounded">
    </div>
    <div class='col-md-3 mb-3'>
        <img src="{% static 'images/classroom.jpg' %}" alt="Classroom" class="img-fluid rounded">
    </div>
    <div class='col-md-3'>
        <img src="{% static 'images/classroom.jpg' %}" alt="Classroom" class="img-fluid rounded">
    </div>
    <div class='col-md-3'>
        <img src="{% static 'images/classroom.jpg' %}" alt="Classroom" class="img-fluid rounded">
    </div>
    <div class='col-md-3'>
        <img src="{% static 'images/classroom.jpg' %}" alt="Classroom" class="img-fluid rounded">
    </div>
    <div class='col-md-3 mb-3'>
        <img src="{% static 'images/classroom.jpg' %}" alt="Classroom" class="img-fluid rounded">
    </div>
    <div class='col-md-3'>
        <img src="{% static 'images/classroom.jpg' %}" alt="Classroom" class="img-fluid rounded">
    </div>
    <div class='col-md-3'>
        <img src="{% static 'images/classroom.jpg' %}" alt="Classroom" class="img-fluid rounded">
    </div>
    <div class='col-md-3'>
        <img src="{% static 'images/classroom.jpg' %}" alt="Classroom" class="img-fluid rounded">
    </div>
</div>
</section>
{%endblock%}