{% extends "classreg/navbar.html" %}
{% load static %}
{% block nav_block %}
<section class='container'>
<h1 class='text-center fw-bold mt-5'>Python Classes</h1>
<div class ='row py-2'>
    <div class='col-md-6'>
        <img src="{% static 'images/python.png' %}" alt="Python" class="p-2 img-fluid">
    </div>
    <div class='col-md-6 mt-2'>
        <p>Python is a powerful, high-level programming language known for its simplicity and readability. It is widely used in various fields such as web development, data analysis, artificial intelligence, and more. Our Python classes are designed to provide comprehensive training, covering fundamental concepts, advanced techniques, and practical applications. Join our classes to gain hands-on experience and enhance your programming skills in Python.</p>
        <p>Welcome to our Python Classes page! Here, you can explore a variety of courses and resources related to Python, a versatile and widely-used programming language. Our classes are designed to help you learn Python from the basics to advanced concepts, enabling you to develop robust and scalable applications. Whether you're a beginner or an experienced developer, our Python classes provide valuable insights and hands-on experience to enhance your skills. </p>
    </div>
</div>
<div class='container mt-2'>
<h2 class='text-center m-3'>Classroom:</h2>
<div class='row'>
    <div class='col-md-3 mb-2'>
        <img src="{% static 'images/python.png' %}" alt="Classroom" class="img-fluid">
    </div>
    <div class='col-md-3'>
        <img src="{% static 'images/python.png' %}" alt="Classroom" class="img-fluid">
    </div>
    <div class='col-md-3'>
        <img src="{% static 'images/python.png' %}" alt="Classroom" class="img-fluid">
    </div>
    <div class='col-md-3'>
        <img src="{% static 'images/python.png' %}" alt="Classroom" class="img-fluid">
    </div>
    <div class='col-md-3'>
        <img src="{% static 'images/python.png' %}" alt="Classroom" class="img-fluid">
    </div>
    <div class='col-md-3'>
        <img src="{% static 'images/python.png' %}" alt="Classroom" class="img-fluid">
    </div>
    <div class='col-md-3'>
        <img src="{% static 'images/python.png' %}" alt="Classroom" class="img-fluid">
    </div>
    <div class='col-md-3'>
        <img src="{% static 'images/python.png' %}" alt="Classroom" class="img-fluid">
    </div>
</div>
</div>
</section>
<section class="container my-5 bg-primary p-3 rounded text-white">
    <h1 class="text-center my-2 pb-2 fw-bold text-warning ">
    Still Hunting for a job?</h1>
    <p class='text-center'>We have a dedicated placement cell that assists our students in finding suitable job opportunities after completing their DJango classes. Our placement cell works closely with industry partners and recruiters to provide job placement support, including resume building, interview preparation, and connecting students with potential employers. We strive to ensure that our students have access to the best career opportunities in the field of web development. Join our DJango classes and take advantage of our placement assistance to kickstart your career in web development!</p>
    <a href='/register' class='w-25 btn btn-warning d-block mx-auto'>Register Now</a>
</div>
</section>
    
{%endblock%}