{% extends "classreg/navbar.html" %}
{% load static %}
{% block nav_block %}
<section class='container'>
<h1 class='text-center fw-bold mt-5'>Videos</h1>
<p>Welcome to our Videos page! Here, you can explore a collection of videos related to our Class Registration Portal. We have curated a selection of videos that provide insights into various aspects of our platform, including tutorials, demonstrations, and informative content about our classes and events. Browse through our video library to gain a deeper understanding of our offerings and the vibrant community that surrounds our Class Registration Portal. We hope you enjoy watching the videos and find them educational and engaging!</p>
<div class='row'>
    <div class='col-md-3 mb-2'>
        <iframe class='rounded' width="100%" height="275" src="https://www.youtube.com/embed/nzCZTvXgYlQ?si=Mvw6iS792Yxd7C4i" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class='col-md-3'>
        <iframe class='rounded' width="100%" height="275" src="https://www.youtube.com/embed/nzCZTvXgYlQ?si=Mvw6iS792Yxd7C4i" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class='col-md-3'>
        <iframe class='rounded' width="100%" height="275" src="https://www.youtube.com/embed/nzCZTvXgYlQ?si=Mvw6iS792Yxd7C4i" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class='col-md-3'>
        <iframe class='rounded' width="100%" height="275" src="https://www.youtube.com/embed/nzCZTvXgYlQ?si=Mvw6iS792Yxd7C4i" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class='col-md-3 mb-2'>
        <iframe class='rounded' width="100%" height="275" src="https://www.youtube.com/embed/nzCZTvXgYlQ?si=Mvw6iS792Yxd7C4i" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class='col-md-3'>
        <iframe class='rounded' width="100%" height="275" src="https://www.youtube.com/embed/nzCZTvXgYlQ?si=Mvw6iS792Yxd7C4i" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class='col-md-3'>
        <iframe class='rounded' width="100%" height="275" src="https://www.youtube.com/embed/nzCZTvXgYlQ?si=Mvw6iS792Yxd7C4i" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class='col-md-3'>
        <iframe class='rounded' width="100%" height="275" src="https://www.youtube.com/embed/nzCZTvXgYlQ?si=Mvw6iS792Yxd7C4i" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class='col-md-3 mb-2'>
        <iframe class='rounded' width="100%" height="275" src="https://www.youtube.com/embed/nzCZTvXgYlQ?si=Mvw6iS792Yxd7C4i" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class='col-md-3'>
        <iframe class='rounded' width="100%" height="275" src="https://www.youtube.com/embed/nzCZTvXgYlQ?si=Mvw6iS792Yxd7C4i" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class='col-md-3'>
        <iframe class='rounded' width="100%" height="275" src="https://www.youtube.com/embed/nzCZTvXgYlQ?si=Mvw6iS792Yxd7C4i" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class='col-md-3'>
        <iframe class='rounded' width="100%" height="275" src="https://www.youtube.com/embed/nzCZTvXgYlQ?si=Mvw6iS792Yxd7C4i" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
</div>
</section>
{%endblock%}